<h2>Sistema de Mural de Vagas - Consulta / Atualização / exclusão</h2>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">LH-Vagas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" routerLink="/mural">Mural de Vagas</a>
                <a class="nav-link active" routerLink="/painel">Cadastro de Vagas</a>
            </div>
        </div>
    </div>
</nav>